/*!
global > font
------------------------------
*/

:root {
    --font-family-base: "Schibsted Grotesk", sans-serif;
    --font-family-label: "Orbitron", sans-serif;
    --font-family-accent: "Playfair Display", serif;
}
