/*!
global > font
------------------------------
*/

:root {
    --font-family-label: "ISL_Andvari";
    --font-family-title: "Schibsted Grotesk", sans-serif;
    --font-family-accent: "Playfair Display", serif;
}
