/*!
global > z-index
------------------------------
*/
:root {
    --z-index-page-overlay: 9999;
    --z-index-header: 1000;
    --z-index-bottom-list: 1000;
    --z-index-hamburger-list: 100;
    --z-index-modal: 10;
}
