@use "../global" as g;

/*!
layout > container
------------------------------
*/

%container {
    width: 90%;
    margin-inline: auto;
}

.l-container-s {
    @extend %container;
    max-width: var(--width-content-s);
}

.l-container {
    @extend %container;
    // max-width: var(--width-content);
}
