@use "../global" as g;

/*!
layout > footer
------------------------------
*/

.footer {
    position: relative;
    padding-top: 120px;
    padding-bottom: 16px;
}

.footer-logo {
    border-bottom: 1px solid var(--border-white);
    padding-block: 16px;
    a {
        display: inline-block;
        width: 248px;
        @include g.mq() {
            width: 610px;
        }
    }
    img {
        width: 100%;
    }
}

.footer-inner {
    width: 90%;
    margin-inline: auto;
}

.footer-nav {
    padding: 16px;
}

.footer-list {
    letter-spacing: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include g.mq() {
        display: grid;
        align-items: start;
        grid-template-columns: minmax(220px, 320px) 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "contact country"
            "about   country";
        column-gap: 48px;
        row-gap: 16px;
    }
}

.footer-item--contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include g.mq() {
        grid-area: contact;
    }
}

.footer-item--about {
    grid-area: about;
}

.footer-email {
    text-decoration: underline;
}

.footer-item--country {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    @include g.mq() {
        grid-area: country;
    }
    @include g.mq(lg) {
        max-width: 660px;
    }
}

.footer-submenu {
    display: grid;
    grid-template-rows: repeat(ceil(17/2), auto);
    gap: 8px;
    grid-auto-flow: column;
    @include g.mq(sm) {
        grid-template-rows: repeat(ceil(17/3), auto);
    }
    @include g.mq() {
        gap: 4px;
    }
    @include g.mq(lg) {
        grid-template-rows: repeat(ceil(17/5), auto);
    }
}

.footer-submenu-item {
    display: inline-flex;
    color: var(--font-gray);
    font-size: 14px;
    align-items: center;
    gap: 4px;
    @include g.mq() {
        font-size: 16px;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #d9d9d9;
        transition: transform 0.3s;
        @include g.mq() {
            width: 9px;
            height: 9px;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            color: var(--font-white);
            &::before {
                transform: rotate(315deg);
            }
        }
    }
}

.footer-copy {
    margin-top: 64px;
    padding-left: 16px;
    font-size: 14px;
    @include g.mq() {
        font-size: 18px;
    }
}
