@use "../global" as g;

/*!
layout > header
------------------------------
*/

.header {
    height: 120px;
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: var(--z-index-header);
}

.header-inner {
    height: 100%;
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.header-nav {
    text-align: center;
    position: relative;
}

.header-logo {
    position: relative;
    a {
        display: inline-block;
        width: 159px;
        height: auto;
        &:focus:not(:focus-visible) {
            outline: none;
        }
        @include g.mq() {
            width: 200px;
        }
    }
    img {
        width: 100%;
    }
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header-item {
    font-size: 14px;
    width: 100px;
    font-weight: bold;
    @include g.mq(sm) {
        font-size: 16px;
        width: 120px;
    }
}

.header-button {
    width: 100%;
    position: relative;
    display: inline-block;
    padding-block: 3px; /* 下線との距離調整 */
    transition: color 0.3s ease;
    &::after {
        content: "";
        position: absolute;
        right: 0;
        inset-block-end: -3px;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.35);
        pointer-events: none;
        @include g.mq() {
            height: 2px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        inset-block-end: -3px;
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 1);
        transform: scaleX(0);
        transition: transform 0.4s ease;
        pointer-events: none;
        @include g.mq() {
            height: 2px;
        }
    }
    @media (any-hover: hover) {
        &:hover::before {
            transform: scaleX(1);
        }
    }
    @media (hover: none) {
        &.is-active::before {
            transform: scaleX(1);
            transition-duration: 180ms;
        }
    }
}

.header-item--country,
.header-item--about,
.header-item--contact {
    display: none;
    @include g.mq() {
        display: inline-block;
    }
}

.header-item--menu {
    display: inline-block;
    @include g.mq() {
        display: none;
    }
}

.header-submenu {
    display: none;
    &.is-active {
        position: absolute;
        display: grid;
        grid-template-rows: repeat(ceil(17/2), auto);
        grid-auto-flow: column;
        gap: 6px 24px;
        text-align: left;
        padding: 16px 8px;
        @include g.mq() {
            grid-template-rows: repeat(ceil(17/3), auto);
        }
    }
}

.header-submenu-item {
    cursor: pointer;
    display: inline-flex;
    color: var(--font-gray);
    font-size: 12px;
    align-items: center;
    gap: 6px;
    @include g.mq() {
        font-size: 14px;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #d9d9d9;
        transition: transform 0.3s;
        @include g.mq() {
            width: 9px;
            height: 9px;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            color: var(--font-white);
            &::before {
                transform: rotate(315deg);
            }
        }
    }
}

.header-item:first-child .header-button {
    text-align: left;
    &::after {
        inset-inline-start: 0;
    }
    &::before {
        inset-inline-start: 0;
        transform-origin: left;
    }
}

.header-item:not(:first-child) .header-button {
    text-align: right;
    &::after {
        inset-inline-end: 0;
    }
    &::before {
        inset-inline-end: 0;
        transform-origin: right;
    }
}
