@use "../global" as g;

/*!
component > bg-wrapper
------------------------------
*/

.c-bg {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        inset: -1px;
        background: var(--bg-base);
        z-index: 0;
    }
    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        transform: translateZ(0);
    }
    @supports (height: 1lvh) {
        height: 100lvh;
    }
}

.c-body-overlay {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    opacity: 0.5;
    pointer-events: none;
    &--about {
        opacity: 0.8;
    }
    @supports (height: 1lvh) {
        height: 100lvh;
    }
}

.c-page-overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: #fff;
    background: var(--bg-base);
    z-index: var(--z-index-page-overlay);
    pointer-events: none;
    transform: translateY(0%);
    will-change: transform;
    pointer-events: auto;
    overscroll-behavior: contain;
    touch-action: none;
}
