@use "../global" as g;

/*!
component > hamburger menu
------------------------------
*/

.c-hamburger-menu {
    background-color: var(--bg-base);
    position: fixed;
    inset: 0;
    width: 100%;
    height: calc(100% + 2px);
    color: var(--font-white);
    overflow: auto;
    z-index: var(--z-index-modal);
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
    @include g.mq() {
        display: none;
    }
    &::backdrop {
        display: none;
    }
}

.c-hamburger-bg {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    transform: scale(1.2);
    pointer-events: none;
}

.c-hamburger-menu-header {
    position: fixed;
    top: 0;
    inset-inline: 0;
    width: 100%;
    z-index: var(--z-index-header);
    -webkit-backface-visibility: initial;
    backface-visibility: initial;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.c-hamburger-menu-header-inner {
    height: 120px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.c-hamburger-button {
    font-size: 14px;
    width: 100px;
    font-weight: bold;
    text-align: right;
    position: relative;
    padding-block: 2px;
    transition: color 0.3s ease;
    @include g.mq(sm) {
        font-size: 16px;
        width: 120px;
    }
    @include g.mq() {
        padding-block: 4px;
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        inset-block-end: -2px;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.35);
        pointer-events: none;
        inset-inline-end: 0;
        @include g.mq() {
            inset-block-end: -4px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        inset-block-end: -2px;
        height: 2px;
        width: 100%;
        background: rgba(255, 255, 255, 1);
        transform: scaleX(0);
        transition: transform 0.4s ease;
        pointer-events: none;
        transform-origin: right;
        inset-inline-end: 0;
        @include g.mq() {
            inset-block-end: -4px;
        }
    }
    @media (any-hover: hover) {
        &:hover::before {
            transform: scaleX(1);
        }
    }
    @media (hover: none) {
        &.is-active::before {
            transform: scaleX(1);
            transition-duration: 180ms;
        }
    }
}

.c-hamburger-country-list {
    position: absolute;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    top: calc(50% - 2px);
    right: 5%;
    &::after {
        content: "";
        display: block;
        height: 85vh;
    }
}

.c-hamburger-country-item {
    overflow: hidden;
    text-align: right;
}

.c-hamburger-country-item a {
    display: block;
    gap: 4px;
    opacity: 0.4;
    padding-left: 6px;
    @media (any-hover: hover) {
        &:hover {
            opacity: 1;
        }
    }
}

.c-hamburger-country-item span {
    display: block;
    &:first-child {
        font-family: var(--font-family-accent);
        font-style: italic;
        font-size: 40px;
        @include g.mq(sm) {
            font-size: 56px;
        }
    }
    &:last-child {
        font-size: 16px;
        @include g.mq() {
            font-size: 20px;
        }
    }
}

.c-hamburger-bottom-list {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 32px;
}

.c-hamburger-bottom-item a {
    font-size: 16px;
    font-weight: bold;
}
