@use "../global" as g;

/*!
component > kv
------------------------------
*/

.c-kv {
    height: clamp(400px, 100svh, 1000px);
    position: relative;
    z-index: 1;
    // width: 90%;
    // margin-inline: auto;
}

.c-kv-title-wrapper {
    // position: fixed;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.c-kv-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    @include g.mq(sm) {
        font-size: 48px;
    }
    @include g.mq() {
        font-size: 64px;
    }
    @include g.mq(lg) {
        font-size: 88px;
    }
    &--top {
        span {
            display: inline-block;
        }
    }
    &--first {
        font-style: italic;
        font-family: var(--font-family-accent);
    }
    &--last {
        font-family: var(--font-family-title);
    }
    &--country {
        font-family: var(--font-family-title);
    }
}

.c-kv-describe {
    margin-top: 4px;
    font-size: 24px;
    font-family: var(--font-family-accent);
    font-style: italic;
    @include g.mq(sm) {
        font-size: 32px;
    }
    @include g.mq() {
        font-size: 48px;
    }
    @include g.mq(lg) {
        font-size: 72px;
    }
}

.c-kv-describe-split {
    display: block;
    @include g.mq(lg) {
        display: inline-block;
    }
}

.c-kv-split {
    display: inline-block;
    will-change: transform, opacity;
}

.c-kv-scroll-indicator {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    bottom: 32px;
    right: 5%;
    overflow: hidden;
    @include g.mq() {
        right: 50%;
        transform: translateX(50%);
    }
}

.c-kv-scroll-text {
    font-weight: bold;
    font-family: var(--font-family-title);
}

.c-kv-scroll-arrow {
    color: white;
    display: inline-block;
}


