@use "../global" as g;

/*!
component > kv
------------------------------
*/

.c-kv {
    min-height: 400px;
    height: 100vh;
    @supports (height: 1lvh) {
        height: 100lvh;
    }
}

.c-kv-inner {
    position: relative;
    width: 90%;
    margin-inline: auto;
    height: 100%;
    display: grid;
    place-items: center start;
}

.c-kv-title-wrapper {
    opacity: 0;
    will-change: transform;
}

.c-kv-title {
    font-size: 10vw;
    font-weight: 500;
    line-height: 1;
    @include g.mq(sm) {
        font-size: 48px;
    }
    @include g.mq() {
        font-size: 64px;
    }
    @include g.mq(lg) {
        font-size: 88px;
    }
    &--top {
        span {
            display: inline-block;
        }
    }
    &--first {
        font-style: italic;
        font-family: var(--font-family-accent);
    }
}

.c-kv-describe {
    margin-top: 4px;
    font-size: 6vw;
    font-family: var(--font-family-accent);
    font-style: italic;
    letter-spacing: 0.12em;
    @include g.mq(sm) {
        font-size: 32px;
    }
    @include g.mq() {
        font-size: 48px;
    }
    @include g.mq(lg) {
        font-size: 72px;
    }
}

.c-kv-describe-split {
    display: block;
    @include g.mq(lg) {
        display: inline-block;
    }
}

.c-kv-split {
    display: inline-block;
}

.c-kv-scroll-indicator {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    right: 5%;
    overflow: hidden;
    bottom: 120px;
    @include g.mq() {
        bottom: 32px;
        right: 50%;
        transform: translateX(50%);
    }
}

.c-kv-scroll-text {
    font-weight: bold;
}

.c-kv-scroll-arrow {
    color: white;
    display: inline-block;
}
