@use "../../global" as g;

/*!
pages > top > loading
------------------------------
*/

.top-loading {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: var(--z-index-page-overlay);
    background-color: var(--bg-base);
    font-family: var(--font-family-counter);
    font-style: italic;
    pointer-events: auto;
    overscroll-behavior: contain;
    touch-action: none;
    @supports (height: 1dvh) {
        height: 100dvh;
    }
}

.top-loading-counter {
    font-size: 20vw;
    padding: 0.2em 0.4em;
    color: var(--font-color-number);
    will-change: contents;
}
